@keyframes quake {
    0% {
        transform: translate(-2px, 1px)
    }

    30% {
        transform: translate(1px, 0px)
    }

    60% {
        transform: translate(-1px, 2px)
    }

    to {
        transform: translate(1px, 2px)
    }
}

.quakeAnimation {
    animation-name: quake;
    animation-duration: 0.07s;
    animation-timing-function: linear;
    animation-iteration-count: 30;
}

@keyframes slideBackground {
    0% {
        background-position: 110% 110%;
    }

    100% {
        background-position: 110 0%;
    }
}

.gradientText {
    background: linear-gradient(180deg,
            white 0%,
            white 25%,
            #fcff59 30%,
            #00ff26 35%,
            #00ff26 45%,
            #fcff59 50%,
            white 55%);
    background-size: 400% 400%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media screen and (min-width: 640px) {
    @keyframes slideBackground {
        0% {
            background-position: 110% 110%;
        }

        100% {
            background-position: 0 110%;
        }
    }

    .gradientText {
        background: linear-gradient(90deg,
                white 0%,
                white 25%,
                #fcff59 30%,
                #00ff26 35%,
                #00ff26 45%,
                #fcff59 50%,
                white 55%);
        background-size: 400% 400%;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

.gradientTextPulse {
    animation-duration: 0.7s;
    animation-name: slideBackground;
    animation-direction: normal;
}