.iphoneContainer {
    position: relative;
    width: 207px;
    height: 384px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileScreen {
    position: relative;
    z-index: 2;
    width: 170px !important;
    height: 367px !important;
    border-radius: 23px;
}