.iphoneContainer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profileScreen {
    position: relative;
    z-index: 2;
    width: 170px !important;
    height: 367px !important;
    border-radius: 23px;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.bounce {
    animation: bounce 1.5s infinite alternate;
}