@keyframes outerPulse {
    from {
        background-color: var(--color-lime-300);
    }

    to {
        background-color: var(--color-lime-50);
    }
}

@keyframes midPulse {
    from {
        background-color: var(--color-lime-200);
    }

    to {
        background-color: var(--color-lime-400);
    }
}

@keyframes centerPulse {
    from {
        background-color: var(--color-white);
    }

    to {
        background-color: var(--color-lime-200);
    }
}

.outerBeam {
    animation-name: outerPulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.midBeam {
    animation-name: midPulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.midBeam2 {
    animation-name: midPulse;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.centerBeam {
    animation-name: centerPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.5s;
}